@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&family=Quando&family=Questrial&display=swap');

:root {
	--primary: #d81e5b;
	--secondary: #8a4efc;
	--light: #eee;
	--btn: #af1e2d;
	--light-alt: #61759b;
	--dark: #131a26;
	--dark-alt: #202b3e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Questrial', sans-serif;
}

body {
	background-color: var(--dark-alt);
	color: var(--light);
	font-size: 100%;
	line-height: 1.5;
}

.App {
	padding: 2em;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
	font-family: 'Kanit', sans-serif;
}

h4 {
	font-size: 18px;
	color: var(--light-alt);
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 1em;
	font-family: 'Quando', serif;
}
.todo {
	position: relative;
	background-color: var(--dark);
	padding: 1em;
	border-radius: 1em;
	display: flex;
	align-items: center;
	text-align: left;
	cursor: pointer;
	margin-bottom: 1em;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.todo:hover {
	opacity: 0.8;
}

.todo .checkbox {
	width: 20px;
	height: 20px;
	margin-right: 1em;
	border-radius: 50%;
	background-color: var(--dark-alt);
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}

.todo.is-complete .checkbox {
	background-color: var(--primary);
	background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

.todo .text {
	font-size: 20px;
}
.todo.is-complete .text {
	text-decoration: line-through;
}
.todo .delete-todo {
	position: absolute;
	right: 16px;
	color: var(--light);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: var(--btn);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}

.addPopup {
	position: fixed;
	bottom: 32px;
	right: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	font-size: 2rem;
	font-weight: bold;
	color: var(--light);
	cursor: pointer;
	background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));

	background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
	background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
	background-image: linear-gradient(-225deg, #a445b2 0%, #d41872 52%, #ff0066 100%);
	background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
	background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);

	border-radius: 50%;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 400px;
	background-color: var(--dark);
	padding: 32px;
	border-radius: 16px;
	box-shadow: 0px 3px 24px var(--dark);
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
}
.closePopup {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 24px;
	height: 24px;
	font-size: 1.5rem;
	color: var(--light);
	cursor: pointer;
	/* background-color: var(--btn); */
	background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
	background-image: linear-gradient(-225deg, #a445b2 0%, #d41872 52%, #ff0066 100%);
	background-image: linear-gradient(
		to right,
		#ff8177 0%,
		#ff867a 0%,
		#ff8c7f 21%,
		#f99185 52%,
		#cf556c 78%,
		#b12a5b 100%
	);
	background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
	background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);

	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.popup h3 {
	color: var(--light);
	margin-bottom: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.add-todo-input {
	appearance: none;
	border: 1px solid var(--light);
	outline: none;
	color: var(--light);
	background: transparent;
	padding: 16px;
	box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
	width: 100%;
	font-size: 1.3rem;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
}

.button {
	padding: 1rem 2rem;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1rem;
	margin-top: 1em;
	cursor: pointer;
	background-image: linear-gradient(to right, var(--primary), var(--secondary));

	background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
	background-image: linear-gradient(-225deg, #a445b2 0%, #d41872 52%, #ff0066 100%);
	background-image: linear-gradient(
		to right,
		#ff8177 0%,
		#ff867a 0%,
		#ff8c7f 21%,
		#f99185 52%,
		#cf556c 78%,
		#b12a5b 100%
	);
	background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
	background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
	display: inline-block;
	border-radius: 1em;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

@media (max-width: 600px) {
	.text {
		max-width: 70%;
	}
	.popup {
		max-width: 380px;
	}
}
